<div class="wrapper">
  <header class="header">
    <div class="container">
      <section>
        <a href="#">
          <img src="http://i.imgur.com/fi5izaK.png" height="22" width="155" alt="Bananner" />
        </a>
      </section>
    </div>
    <div class="header jumbotron text-center">
      <div class="container">
        <h1>Keep your site up-to-date easily.</h1>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Get Started</a></p>
      </div>
    </div>

    <div class="container">
      <div class="editor">
        <button class="btn btn-default pull-right">Save Your Work</button>
      </div>
    </div>
  </header>


  <div class="container" id="features">
    <div class="row featurette">
      <div class="col-xs-12 content">
        <h2>Bananner is the fastest way to keep your site up-to-date.</h2>
        <p>
          A Bananner is a piece of your website that can hold anything. You can quickly and eeasily update it whenever you want, from any device. And you can customize it to look however you like. It's built for daily deals, your latest announcements, or anything you want to change. And you can add files just by dragging them in. Put a Bananner on your site and you'll never look back.
        </p>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-xs-12 content">
        <h2>Bananner has an awesome editor.</h2>
        <p>
          With Bananner's intuitive online editor, you can edit your content from any device, at any time. It's incredibly simple, but so powerful you can make it look any way you like. Cutomize every detail or pick a beautiful, pre-made theme.
        </p>
      </div>
    </div>
    <div class="row featurette">
      <div class="col-xs-12 content">
        <div class="panel">
          <div class="panel-title">
            <h3>A Bananner is just $2/Month.</h3>
          </div>
          <div class="panel-body">
            <p>
              Enough with complex pricing structures, get just what you need. Have as many Bananners as you want, just $2/Bannner/month. And each one comes with 50MB of storage space for all your file attachments.
            </p>
            <a href="#" class="btn btn-default">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
  	     <ul class="list-inline">
  	       <li><a href='#'>About</a></li>
  	       <li><a href='#'>Terms</a></li>
  	       <li><a href='#'>Privacy</a></li>
  	     </ul>
  	   </div>
  	   <div class="col-sm-6">
  	     <p class="text-muted text-right">&copy; 2014 Bananner, Inc. All rights reserved</p>
  	   </div>
	   </div>
    </div>
  </div>
</div>
